body {
    font-family: "Noto Sans Linear A", sans-serif;

    /* Set the background image */
    background-image: url('img/background.png');

    /* Make it cover the whole screen */
    background-size: cover;

    /* Keep it fixed when scrolling */
    background-attachment: fixed;

    /* Center it */
    background-position: center;

    /* Optional: don’t repeat */
    background-repeat: no-repeat;

    /* Optional: add a tint/overlay */
    /* background-color: rgba(0,0,0,0.3); */
}

h1, li, p {
    color: #000000;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);

    font-size: 1.2rem;
}

.container {
    max-width: 900px;
    margin: 0 auto 10px auto; /* top 0, bottom 50px, left/right auto */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 3px;
}